@import './variables';

 .nav{
     visibility:visible;
   display:flex;
  justify-content:space-between;
   width:100%;
    @media screen and (max-width:768px){
     flex-direction:column;  
     height:5vh;
     opacity:0;
    width:100vw;
    position:absolute;
    z-index:3;
    display: none;
    }
  height:5vh;
    background:rgba(0,0,0,0.9);
    backdrop-filter:blur(10px);


 
 
 }
 #nav_icon{
   text-shadow: 1px 1px 4px red;
   margin-right: 2px;
   opacity:0;
    @media screen and (min-width:768px){
      display: none;
    }
   
 }
  .nav ul{
  
  display:flex;
  flex-direction: row;
  @media screen and (max-width:768px){
   

    height:80vh;
    flex-direction:column;
    justify-content: center;
  }
     list-style:none;
     text-decoration: none;
    
  }
 .li {
   
   margin-right:2vw;
   text-decoration: none;
   opacity:0.7;
   @media screen and (max-width:768px){
    margin-bottom:10px;

     }
 }
  .li:hover{
    opacity: 1;
  }
  .nav_hidden{
    height:0vh;
    opacity: 0;
    
   
  }
  .nav_hidden li{
    position: relative;
    left:-60px;
    
  }
  .short{
   
   height:5vh;
  

  }
  .th2 h2,.th2{
    position: relative;
    
   color:white;
   font-size: 4vw;
    
    @media screen and(max-width:$tablet) {
      display: none;
    }
  }
 .jt{
   
   color:white;
   font-size: 4vw;
   @media screen and(max-width:$phone){
     font-size:6vw;
     position:absolute;
     top:0;
     left:0;
     z-index: 4;
   }
   
   @media screen and(min-width:$tablet){
     display:none;
   }
 }
 .fa-bars{
 font-size:5vw;
 }
 
 .burger{
     position:fixed;
     top:0;
     right:0;
     z-index:4;
@media screen and(min-width:768px){
      display:none;


}


 }
 .nav_anchor{
   text-decoration:none;
   color:#F4DFFF;
   font-family: ubuntu;
  
   font-size:130%; 
   @media screen and (max-width:768px){
    font-size:3vw;
    position:relative;
    opacity:0;
    font-weight:10;

   }
 }
