@import './contact';
.swiper-pagination-bullet{
  color: red;
  background: red !important;
}
.swiper-button-next, .swiper-button-prev{
  color: #D1D5FC !important;
}
$footer_color:#848484;
.swipe_wrap{
  position: relative;
}
.jtp{
  position: absolute;
  top:0;
  text-align: center;
  height:100%;
  width:100%;
  background:linear-gradient(45deg, rgba(0,0,0,0.3), #3C2F6D);
  color:#CCC1FB;
  font-family: poppins;
  font-size: 18px;
}
.footer {
  text-align: center;
  
  span{
  color: $footer_color;
  text-align: center;
  
  font-family: poppins;
  font-size: 80%;
    a{
      text-decoration: none;
      color: #6F3F98;
      
    }
  }
  background: #090B1B;
  height: 11vh;
  backdrop-filter: blur(5px);

  


}
.footer_icons{
  display: flex;
  flex-direction:row;
  justify-content: center;
  
}
.footer_a{
  color: $footer_color;
  text-decoration: none;
}
.footer_a i{
  color: $footer_color;
  margin-left: 15px;
  
//  -webkit-box-reflect: below 1px  linear-gradient(transparent,#0005);
}
#small{
font-size:10px;
}
.footer_list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  
  
}
.footer_li{
  
}
.footer_anchor{
  color:#9A9A9A;
  font-size:10px;
  font-family: poppins;
  text-decoration: none;
}
.top_display {
  display: flex;
  
  width:100vw;
//  margin-top: 5vh;


   
}
.swp{
  
}
.logout_button{
  width:30vw;
  height:3vh;
  border-radius: 10px;
  //filter:blur(5px);
  background:rgba(0,0,0,0.9);
  
  background-size: 200%;
  border:none;
   @media screen and (min-width:768px) {
     border-radius: 30px;
     
  
   }
  span{
    
  

  background: linear-gradient(45deg, #790808, #832BFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: ubuntu;
  
    
  }
  box-shadow: 1px 1px 2px #472321,
  -1px -1px 2px #472321;

animation: border 10s infinite alternate;
}
@keyframes border{
  0%{
    box-shadow: 1px 1px 2px red,
    -1px -1px 2px red;
    
  }
  30% {
    box-shadow: 1px 1px 2px green,
    -1px -1px 2px green;
  
  }
  70%{
    box-shadow: 1px 1px 2px blue,
    -1px -1px 2px blue;
  }
  100%{
    box-shadow: 1px 1px 2px red,
    -1px -1px 2px red;
  }
}
.logout{
  background: url('./abt.jpg');
  height:90vh;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.logout .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:90vh;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.899);

  
 
  
}
.logout_span{
  color:#787878;
  font-size: 16px;
  margin-bottom: 15px;
  @media screen and (min-width:768px){
    margin-bottom: 30px;
    
  }
  font-family: monospace;
}
$bgcolor:rgba(9, 3, 27, 0.899);
.contact-page{
  background:$bgcolor;
  height:100vh;
  


}
.top_display i {
  margin-right: 5px;
}
.contact-title {
  font-size: 4vw;
  border-bottom: 1px solid rgb(255, 0, 242);
  font-weight:200;
  font-family:ubuntu;
  text-align: center;
  //margin-top: 5vh;


  background: linear-gradient(45deg, blue, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.top_display h3 {
  background: linear-gradient(45deg, #e09dff, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: left;

}

.rand1 {
  position: absolute;
  height: 20vw;
  z-index: -1;
  background: linear-gradient(45deg, aqua, blue);
  width: 20vw;
  border-radius: 0% 61% 59% 41% / 76% 69% 31% 24%;
}
.rand2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vw;

  z-index: -1;
  background: rgb(146, 0, 253);
  background: linear-gradient(45deg, aqua, purple);
  width: 20vw;
  border-radius: 50% 50% 59% 41% / 76% 69% 31% 24%;
}
.rand3 {
  position: absolute;
  height: 300px;
  z-index: -1;
  background: linear-gradient(45deg, aqua, blue);
  width: 300px;
  border-radius: 0% 61% 59% 41% / 76% 69% 31% 24%;
}

@keyframes jog {
}

.svg1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height:20vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background:url('./wave2.svg')  ;
  background-position:center ;
  aspect-ratio: 900/360;
}
.show h2 span{
  text-transform: uppercase;
}
 
#bg{
  
  position: fixed;
  bottom:0;
  right:0;
  z-index: 2;
  //display:none;



}
.spans{
  display:flex; 
   
  

}
.spans span{
  color:silver;
  font-size:   20px; 
  z-index:2;
  opacity:0;

}
body{ 
@media screen and (min-width: 208px){
 
     
   
}
}
.active{
  color:red;
}
