@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,100&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(45deg, blue, red);
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
}

.main-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background: rgba(0, 0, 0, 0.9);
  border-top: 2px solid #EE56FF;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
}

.main-flex h2 {
  color: white;
  font-size: 6vw;
  font-family: Teko;
  margin-bottom: 20px;
}

.title_view {
  position: relative;
  top: 40vh;
}

.title_btn {
  height: 30px;
  width: 30vw;
  border: 1px solid aqua;
  -webkit-box-shadow: 2px 2px 10px blue, -2px -2px 10px blue;
          box-shadow: 2px 2px 10px blue, -2px -2px 10px blue;
  background: rgba(0, 0, 0, 0.4);
  color: aqua;
  border-radius: 10px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .title_btn {
    height: 20px;
    font-size: 4px;
  }
}

.title_btn::before {
  content: '';
  z-index: 7;
  position: absolute;
  height: 20px;
  width: 30vw;
  background: linear-gradient(45deg, red, blue, green);
}

.about_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.89)));
  background: linear-gradient(black, rgba(0, 0, 0, 0.89));
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .about_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about_image {
  height: 100vh;
  width: 50vw;
}

@media screen and (max-width: 480px) {
  .about_image {
    height: 50vh;
    width: 100vw;
  }
}

.about_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about_desc {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .about_desc {
    width: 100vw;
    height: 50vh;
  }
}

.abt_title {
  color: white;
  margin-left: 30%;
  font-size: 5vw;
  font-family: Teko;
}

.about_desc p {
  color: #B8B8B8;
  font-family: Poppins;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .about_desc p {
    font-size: 25px;
  }
}

.anchor_social {
  color: white;
  text-decoration: none;
  font-size: 5vw;
}

.fab {
  color: white;
  font-size: 30px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  margin-left: 15px;
}

@media screen and (max-width: 1200px) {
  .fab {
    font-size: 20px;
  }
}

.fa-instagram {
  background: linear-gradient(45deg, orange, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr {
  background: linear-gradient(45deg, red, blue);
  height: 3px;
  width: 90%;
  margin-left: 7%;
  border-radius: 4px;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5vh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  text-decoration: none;
  max-width: 80vw;
}

.li {
  margin-right: 2vw;
  text-decoration: none;
  opacity: 0.7;
}

.li:hover {
  opacity: 1;
}

.nav h2 {
  color: white;
  font-size: 5vw;
}

@media screen and (max-width: 480px) {
  .nav h2 {
    font-size: 4vw;
  }
}

.nav_anchor {
  text-decoration: none;
  color: #F4DFFF;
  font-family: ubuntu;
  font-size: 3vw;
}

.fab:hover {
  margin-bottom: 13px;
  color: white;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.card {
  height: 350px;
  width: 230px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 25px;
}

.card::after {
  border-radius: 22px;
}

.card_title {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  border-bottom: 2px solid #FF12D7;
}

.card_title i {
  font-size: 20px;
}

.card_title h2, i {
  background: linear-gradient(45deg, #EF6B6B, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card_description {
  height: 200px;
}

.card_title h2 {
  font-size: 30px;
}

.card_description p {
  font-size: 15px;
  color: #FFDEF0;
  font-family: Poppins;
  height: 170px;
}

.card_description button {
  height: 35px;
  width: 80px;
  border-radius: 10px;
  background: linear-gradient(45deg, #FF52B0, #C552FF);
  border: 2px solid #FFE5F6;
}

.service_flex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top" "bottom" "comments";
  width: 100%;
  overflow-x: scroll;
  border-radius: 12px;
  height: 100vh;
}

.tcard {
  opacity: 0.7;
  height: 350px;
  width: 230px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 25px;
}

.tcard:hover {
  opacity: 1;
}

.tImage {
  height: calc(350px/2);
  width: 79%;
}

.testimonials img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.tcard_title {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  border-bottom: 2px solid #FF12D7;
}

.tcard_title h2 {
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tcard_description {
  height: 30%;
}

.tcard_description p {
  font-size: 15px;
  color: #FFDEF0;
  font-family: Poppins;
}

.tcard_description button {
  height: 35px;
  width: 80px;
  border-radius: 10px;
  background: linear-gradient(45deg, #FF52B0, #C552FF);
  border: 2px solid #FFE5F6;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  grid-area: "bottom";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.testimonials h2 {
  font-family: Teko;
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 1px solid #EE56FF;
  margin-bottom: 12px;
}

.testimonial_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}

.services {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.tilts {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.st {
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid #EE56FF;
  margin-bottom: 12px;
  text-align: center;
}

#particles-js {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}

.comment_textarea {
  height: 46px;
  width: 50%;
  color: aqua;
  border-radius: 25px;
  background: #15092F;
  margin-top: 20px;
  -webkit-box-shadow: 5px 5px 15px black inset, -5px -5px 10px  #3E3E3E inset, -5px -5px 15px #5E0796, 5px 5px 15px black;
          box-shadow: 5px 5px 15px black inset, -5px -5px 10px  #3E3E3E inset, -5px -5px 15px #5E0796, 5px 5px 15px black;
}

.comment_title::-webkit-input-placeholder {
  color: white;
}

.comment_title:-ms-input-placeholder {
  color: white;
}

.comment_title::-ms-input-placeholder {
  color: white;
}

.comment_title::placeholder {
  color: white;
}

.comment_title {
  background: linear-gradient(45deg, #DC62EA, #340DFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid #EE56FF;
}

.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 50px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
}

.fa-paper-plane {
  color: white;
  font-size: 30px;
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
}

.Comment {
  background: rgba(5, 5, 5, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
  grid-area: "comments";
  grid-gap: 20px;
}

.home_slide {
  grid-area: right;
}

.home_slide_img_div {
  height: 80vh;
  width: 100%;
}

.home_slide_img_div img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.gallery_image_container {
  height: 200px;
  width: 300px;
  border: 2px solid #FF0D78;
  border-radius: 15px;
  margin-top: 45px;
  opacity: 0.8;
}

.gallery_image_container:hover {
  opacity: 1;
}

.gallery_image_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.gallery_h2 {
  background: linear-gradient(45deg, #FA4FFF, #E04FFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid #E82323;
}

.visible {
  position: absolute;
  visibility: visible;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), #A01B1B);
  z-index: 20;
}

.visible img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 90%;
  width: 100%;
  border-radius: 23px;
  border: 1px solid #FF1670;
}

.invisible {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: -3;
  height: 1px;
  width: 1px;
}

.x i {
  position: relative;
  left: 400px;
  font-size: 3vw;
  color: red;
}

h2 {
  font-family: Teko;
}
/*# sourceMappingURL=main.css.map */