@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,100&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap");
.nav {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5vh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 5vh;
    opacity: 0;
    width: 100vw;
    position: absolute;
    z-index: 3;
    display: none;
  }
}

#nav_icon {
  margin-right: 2px;
  opacity: 0;
  /*-webkit-text-fill-color: transparent !important;
   -webkit-background-clip: text !important;
   font-family: ubuntu; */
}

@media screen and (min-width: 768px) {
  #nav_icon {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav ul {
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.li {
  margin-right: 2vw;
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .li {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.li:hover {
  opacity: 1;
}

.nav_hidden {
  height: 0vh;
  opacity: 0;
}

.nav_hidden li {
  position: relative;
  left: -60px;
}

.short {
  height: 5vh;
}

.th2 h2,
.th2 {
  position: relative;
  color: white;
  font-size: 1.6vw;
}

@media screen and (max-width: 768px) {
  .th2 h2,
  .th2 {
    display: none;
  }
}

.jt {
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  .jt {
    font-size: 6vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }
}

@media screen and (min-width: 768px) {
  .jt {
    display: none;
  }
}

.fa-bars {
  font-size: 5vw;
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.nav_anchor {
  text-decoration: none;
  color: #f4dfff;
  font-family: ubuntu;
  font-size: 110%;
}

@media screen and (max-width: 768px) {
  .nav_anchor {
    font-size: 4vw;
    position: relative;
    opacity: 0;
  }
}

.card {
  z-index: 2;
  height: 350px;
  width: 230px;
  border: 1px solid #4B4B4B;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .card {
    height: 280px;
    width: 61vw;
    margin-top: 10px;
  }
}

.card::after {
  border-radius: 22px;
}

.card_title {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  border-bottom: 2px solid #FF12D7;
}

.card_title i {
  font-size: 25px;
  margin-left: 3px;
}

.card_title h2,
.card_title i {
  background: linear-gradient(45deg, #EF6B6B, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card_description {
  height: 200px;
}

.card_title h2 {
  font-size: 30px;
}

.card_description p {
  font-size: 15px;
  color: #FFDEF0;
  font-family: Poppins;
  height: 170px;
}

@media screen and (max-width: 768px) {
  .card_description p {
    font-size: 10px;
  }
}

.card_description button {
  height: 35px;
  width: 80px;
  display: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #FF52B0, #C552FF);
  border: 2px solid #FFE5F6;
}

.service_flex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top" "bottom" "comments";
  width: 100%;
  overflow-x: scroll;
  border-radius: 12px;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(black)), url("./images/service.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), black), url("./images/service.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.tcard {
  opacity: 0.9;
  height: 300px;
  width: 250px;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(80, 80, 80, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(80, 80, 80, 0.7));
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), -2px -2px 2px #949494, 3px 3px 5px #74367B;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), -2px -2px 2px #949494, 3px 3px 5px #74367B;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 100px;
}

.tImage_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_icons.fab {
  background: linear-gradient(45deg, #EF6B6B, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fas {
  background: linear-gradient(45deg, #8B1BEE, #EE1B59);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tcard:hover {
  opacity: 1;
}

.tImage {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.tcard_title {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.tcard_title h2 {
  text-align: center;
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.work_title {
  color: #4B614E;
  font-family: Poppins;
  background: linear-gradient(45deg, #4CAFFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tcard_description {
  height: 30%;
}

.tcard_description p {
  font-size: 60%;
  color: #FFDEF0;
  font-family: Poppins;
}

.tcard_description button {
  height: 35px;
  width: 80px;
  border-radius: 10px;
  background: linear-gradient(45deg, #FF52B0, #C552FF);
  border: 2px solid #FFE5F6;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  grid-area: "bottom";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(black)), url("./images/service3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), black), url("./images/service3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial_cards h2 {
  font-family: Teko;
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 12px;
}

.testimonial_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}

.services {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  z-index: 1;
}

.tilts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(black)), url("./images/service2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), black), url("./images/service2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.span {
  font-family: cursive;
  font-size: 14px;
}

.st {
  background: linear-gradient(45deg, #E09DFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid #EE56FF;
  margin-bottom: 12px;
  margin-top: 5px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.testimonials_heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: Teko;
  background: linear-gradient(45deg, #290BFF, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 12px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(45deg, red, blue, #6626FF, red);
  background-size: 500%;
  opacity: 0;
  max-width: 100vw;
  -webkit-animation: animate 25s infinite alternate;
          animation: animate 25s infinite alternate;
}

@-webkit-keyframes animate {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes animate {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.99)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.8));
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .main-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 83vh;
  }
}

#popup {
  position: fixed;
  height: 100vh;
}

.gimg {
  opacity: 0;
}

.main_image {
  position: relative;
}

.main_image .prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.main_image .next {
  position: absolute;
  right: 0;
  top: 50%;
}

.popup_image_wrap {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.99);
}

.gallery_image_container {
  height: 200px;
  width: 300px;
  -webkit-box-shadow: 2px 2px 3px #878787, -2px -2px 3px #6E4EA2;
          box-shadow: 2px 2px 3px #878787, -2px -2px 3px #6E4EA2;
  border-radius: 15px;
  margin-top: 45px;
  opacity: 0.8;
}

.gallery_image_container:hover {
  opacity: 1;
}

.gallery_image_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.gallery_h2 {
  background: linear-gradient(45deg, #E5B6FF, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: cursive;
  text-shadow: 1px 1px #C55BFF;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.gallery_h2_wrap {
  background: #43455C;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  -webkit-box-shadow: 2px 2px 5px #AC68FF;
          box-shadow: 2px 2px 5px #AC68FF;
}

.visible {
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
  height: 100vh;
  opacity: 1;
  width: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.8)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(2, 2, 2, 0.8), rgba(0, 0, 0, 0.6));
  z-index: 3;
}

.gimg {
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
  height: 65vh;
  width: 90vw;
  border-radius: 2px;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -3;
  height: 100px;
  width: 100px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.x i {
  position: relative;
  text-align: center;
  left: 47vw;
  font-size: 3vw;
  color: red !important;
}

@media screen and (max-width: 768px) {
  .x i {
    font-size: 130%;
  }
}

h2 {
  font-family: Teko;
}

.images_array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
}

.images_array img {
  margin-left: 2vw;
  width: 70px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jp {
  color: white;
  font-size: calc(7vw -1vw);
  font-weight: 400;
  font-family: Cinzel;
  background: linear-gradient(45deg, purple, blue);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .jp {
    font-size: 8vw;
  }
}

.title_view {
  top: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49.9999vw;
  height: 94.99vh;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), black), url("./images/arch5.jpg");
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .title_view {
    height: 49.99vh;
    width: 100vw;
  }
}

.title_btn {
  height: 30px;
  width: 30vw;
  border-top: 1px solid rgba(46, 252, 252, 0.918);
  border-left: 1px solid #58d3f8;
  border-right: 1px solid aqua;
  border-bottom: 1px solid aqua;
  -webkit-box-shadow: 2px 2px 10px blue,   -2px -2px 10px purple;
          box-shadow: 2px 2px 10px blue,   -2px -2px 10px purple;
  background: rgba(0, 0, 0, 0.4);
  color: aqua;
  margin-top: 14px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .title_btn {
    height: 20px;
    font-size: 4px;
  }
}

.about_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.89)));
  background: linear-gradient(black, rgba(0, 0, 0, 0.89));
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .about_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about_image {
  height: 90vh;
  width: 50vw;
}

@media screen and (max-width: 480px) {
  .about_image {
    height: 50vh;
    width: 100vw;
  }
}

.about_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about_desc {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .about_desc {
    width: 90vw;
    height: 50vh;
  }
}

.abt_title {
  color: white;
  margin-left: 30%;
  font-size: 5vw;
  font-family: Teko;
}

.about_desc p {
  color: #B8B8B8;
  font-family: Poppins;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .about_desc p {
    font-size: 25px;
  }
}

.anchor_social {
  color: white;
  text-decoration: none;
  font-size: 5vw;
}

.anchor_social .fab {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
  font-size: 30px;
  background: linear-gradient(45deg, #EF6B6B, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  margin-left: 15px;
}

@media screen and (max-width: 1200px) {
  .anchor_social .fab {
    font-size: 20px;
  }
}

.anchor_social.fas {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
  font-size: 30px;
  background: linear-gradient(45deg, #EF6B6B, #EF6BB2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  margin-left: 15px;
}

@media screen and (max-width: 1200px) {
  .anchor_social.fas {
    font-size: 20px;
  }
}

.fa-instagram {
  background: linear-gradient(45deg, orange, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr {
  background: linear-gradient(45deg, red, blue);
  height: 3px;
  width: 90%;
  margin-left: 7%;
  border-radius: 4px;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.anchor_social .fab:hover {
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#particles-js {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}

.comment_textarea {
  height: 46px;
  width: 50%;
  color: aqua;
  border-radius: 25px;
  background: #15092F;
  margin-top: 20px;
  -webkit-box-shadow: 5px 5px 15px black inset, -5px -5px 10px  #3E3E3E inset, -5px -5px 15px #5E0796, 5px 5px 15px black;
          box-shadow: 5px 5px 15px black inset, -5px -5px 10px  #3E3E3E inset, -5px -5px 15px #5E0796, 5px 5px 15px black;
}

@media screen and (max-width: 768px) {
  .comment_textarea {
    width: 100%;
    border-radius: 14px;
  }
}

.comment_title::-webkit-input-placeholder {
  color: white;
}

.comment_title:-ms-input-placeholder {
  color: white;
}

.comment_title::-ms-input-placeholder {
  color: white;
}

.comment_title::placeholder {
  color: white;
}

.comment_title {
  background: linear-gradient(45deg, #DC62EA, #340DFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid #EE56FF;
}

.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 50px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
}

.fa-paper-plane {
  color: white;
  font-size: 30px;
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
}

.Comment {
  background: rgba(5, 5, 5, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
}

.home_image {
  -webkit-filter: blur(0px), brightness(40%);
          filter: blur(0px), brightness(40%);
}

.home_slide {
  width: 49.9vw;
  height: 90vh;
}

@media screen and (max-width: 480px) {
  .home_slide {
    width: 100vw;
    height: 40.99vh;
  }
}

.home_slide_img_div {
  height: 100%;
  width: 100%;
}

.home_slide_img_div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.help {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), black), url("./images/service3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loader_testimonial {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.centered_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq_collapse {
  -webkit-transition: 1s;
  transition: 1s;
}

.collapsed {
  height: 100px;
  overflow: hidden;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

.help_intro {
  color: #1D1F43;
  font-family: Glory;
  font-weight: 500;
}

.faqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

.faq {
  min-height: 25vh;
  width: 90vw;
  margin-bottom: 10px;
  background: rgba(0, 0, 80, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media screen and (min-width: 480px) {
  .faq {
    width: 35vw;
  }
}

.cannot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cannot h3 {
  color: #919191;
  font-family: poppins;
}

.cannot a {
  text-decoration: none;
  font-size: 14px;
  color: #9145AC;
  padding: 6px;
  text-align: center;
  background: #141535;
  border-radius: 4px;
}

.faq_title {
  color: #8D3EC9;
  font-family: poppins;
}

.faq_question {
  color: #9FA0A1;
}

.loader {
  border: 8px solid transparent;
  /* Light grey */
  border-top: 8px solid #C736FF;
  border-bottom: 8px solid #C736FF;
  /* Blue */
  border-radius: 50%;
  width: 140px;
  height: 140px;
  -webkit-animation: spin 2s ease  infinite;
          animation: spin 2s ease  infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.contact-page {
  background: rgba(9, 3, 27, 0.899);
  min-height: 90vh;
}

.top_display i {
  margin-right: 5px;
}

.wrap_contact_title {
  background: rgba(0, 0, 80, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 3vh;
}

.contact-title {
  font-size: 4vw;
  font-weight: 10;
  font-family: ubuntu;
  text-align: center;
  background: linear-gradient(45deg, blue, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (min-width: 480px) {
  .contact-title {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 768px) {
  .contact-title {
    font-size: 2vw;
  }
}

.top_display h3 {
  background: linear-gradient(45deg, #e09dff, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: left;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .wrap {
    margin-left: 20vw;
    width: 65vw;
    padding: 20px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

.wrap label {
  color: aqua;
  font-family: poppins;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .wrap label {
    font-size: 20px;
  }
}

.wrap input {
  height: 44px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .wrap input {
    width: 60vw;
  }
}

.wrap input, .wrap textarea {
  color: #1efc30;
  border: 1px solid #497979;
  background: rgba(6, 3, 34, 0.8);
}

@media screen and (min-width: 768px) {
  .wrap input, .wrap textarea {
    width: 60vw;
  }
}

.wrap textarea {
  border-radius: 20px;
}

.submit {
  color: #B1B1B1;
  border-radius: 7px;
  border: none;
  background: transparent;
  width: 30vw;
}

.lower-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-ds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-ds a {
  color: #525F5F;
  text-decoration: none;
  margin-left: 5px;
  text-align: left;
  font-size: 14px;
  font-family: poppins;
}

@media screen and (min-width: 768px) {
  .c-ds a {
    font-size: 30px;
  }
}

.c-ds i {
  color: #417D44;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .c-ds i {
    font-size: 30px;
  }
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popcheck {
  height: 10vh;
  width: 30vw;
  background: #2D2D2D;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popcheck .fa-check {
  font-size: 29px;
  color: lime;
  text-align: center;
}

.popcheck span {
  color: chartreuse;
  font-family: poppins;
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .popcheck span {
    font-size: 20px;
  }
}

.top_welcome {
  color: #A5A8C8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), black), url("./images/service3.jpg");
}

.swiper-pagination-bullet {
  color: red;
  background: red !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #D1D5FC !important;
}

.swipe_wrap {
  position: relative;
}

.jtp {
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), #3C2F6D);
  color: #CCC1FB;
  font-family: poppins;
  font-size: 18px;
}

.footer {
  text-align: center;
  background: #090B1B;
  height: 11vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.footer span {
  color: #848484;
  text-align: center;
  font-family: poppins;
  font-size: 80%;
}

.footer span a {
  text-decoration: none;
  color: #6F3F98;
}

.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_a {
  color: #848484;
  text-decoration: none;
}

.footer_a i {
  color: #848484;
  margin-left: 15px;
}

#small {
  font-size: 10px;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.footer_anchor {
  color: #9A9A9A;
  font-size: 10px;
  font-family: poppins;
  text-decoration: none;
}

.top_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.logout_button {
  width: 30vw;
  height: 3vh;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  background-size: 200%;
  border: none;
  -webkit-box-shadow: 1px 1px 2px #472321, -1px -1px 2px #472321;
          box-shadow: 1px 1px 2px #472321, -1px -1px 2px #472321;
  -webkit-animation: border 10s infinite alternate;
          animation: border 10s infinite alternate;
}

@media screen and (min-width: 768px) {
  .logout_button {
    border-radius: 30px;
  }
}

.logout_button span {
  background: linear-gradient(45deg, #790808, #832BFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: ubuntu;
}

@-webkit-keyframes border {
  0% {
    -webkit-box-shadow: 1px 1px 2px red, -1px -1px 2px red;
            box-shadow: 1px 1px 2px red, -1px -1px 2px red;
  }
  30% {
    -webkit-box-shadow: 1px 1px 2px green, -1px -1px 2px green;
            box-shadow: 1px 1px 2px green, -1px -1px 2px green;
  }
  70% {
    -webkit-box-shadow: 1px 1px 2px blue, -1px -1px 2px blue;
            box-shadow: 1px 1px 2px blue, -1px -1px 2px blue;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px red, -1px -1px 2px red;
            box-shadow: 1px 1px 2px red, -1px -1px 2px red;
  }
}

@keyframes border {
  0% {
    -webkit-box-shadow: 1px 1px 2px red, -1px -1px 2px red;
            box-shadow: 1px 1px 2px red, -1px -1px 2px red;
  }
  30% {
    -webkit-box-shadow: 1px 1px 2px green, -1px -1px 2px green;
            box-shadow: 1px 1px 2px green, -1px -1px 2px green;
  }
  70% {
    -webkit-box-shadow: 1px 1px 2px blue, -1px -1px 2px blue;
            box-shadow: 1px 1px 2px blue, -1px -1px 2px blue;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px red, -1px -1px 2px red;
            box-shadow: 1px 1px 2px red, -1px -1px 2px red;
  }
}

.logout {
  background: url("./abt.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.logout .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.899);
}

.logout_span {
  color: #787878;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: monospace;
}

@media screen and (min-width: 768px) {
  .logout_span {
    margin-bottom: 30px;
  }
}

.rand1 {
  position: absolute;
  height: 20vw;
  z-index: -1;
  background: linear-gradient(45deg, aqua, blue);
  width: 20vw;
  border-radius: 0% 61% 59% 41% / 76% 69% 31% 24%;
}

.rand2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vw;
  z-index: -1;
  background: #9200fd;
  background: linear-gradient(45deg, aqua, purple);
  width: 20vw;
  border-radius: 50% 50% 59% 41% / 76% 69% 31% 24%;
}

.rand3 {
  position: absolute;
  height: 300px;
  z-index: -1;
  background: linear-gradient(45deg, aqua, blue);
  width: 300px;
  border-radius: 0% 61% 59% 41% / 76% 69% 31% 24%;
}

@-webkit-keyframes jog {}

@keyframes jog {}.svg1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 20vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./wave2.svg");
  background-position: center;
  aspect-ratio: 900/360;
}

.show h2 span {
  text-transform: uppercase;
}

#bg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spans span {
  color: silver;
  font-size: 20px;
  z-index: 2;
  opacity: 0;
}

.active {
  color: red;
}
/*# sourceMappingURL=main.css.map */